html, body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Slick */
* {
  box-sizing: border-box;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.timeline-item:hover {
  cursor: pointer;
}
/* Slick */

a{
  text-decoration: none;
  color: black;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}

/* Navbar */
a.nav-link{
  color: white !important;
}
.header-link{
  color: white;
}
.header-title{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.header-logo{
  width: 80px;
}
/* Navbar */

/* Sidebar apps */
.circular_image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
/* Sidebar apps */

/* Pagination */
.pagination > .active > a {
  color: black;
  background-color: #1eb871 !Important;
  border: solid 1px #1eb871 !Important;
}

.pagination > .page-item > a {
  color: #1eb871;
}
/* Pagination */

/* Carousel */
.carousel-caption {
  max-width: 100%;
  width:100%;
  left: 0;
  bottom:0;
  text-align: left !important;
  padding-left: 10px;
}
/* Carousel */

/* Video */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Video */

.dataTables_filter input {
  margin-bottom: 10px !important;
}

.dataTables_wrapper .dataTables_paginate {
  margin-top: 10px;
}

table.dataTable {
  border-collapse: collapse !important;
}

.table thead {
  background-color: rgb(27, 91, 61) !important; /* Set the desired background color */
  color: white; /* Set the desired text color */
}

@media (min-width: 993px) { /*large*/
  #navbar-offcanvas-section{
    display:none !important;
  }
}
@media (max-width: 992px) { /*medium*/
  #navbar-offcanvas-section{
    display:none !important;
  }
  .header-title{
    font-size: 20px;
    margin-top: 0px !important;
  }
  .header-logo{
    width: 70px;
  }
}
@media (max-width: 768px) { /*small*/
  #navbar-header{
    display:none;
  }
  #navbar-offcanvas-section{
    display:block !important;
  }
  .header-title{
    font-size: 16px;
    margin-top: 0px !important;
  }
  .header-logo{
    width: 60px;
  }
  #right-logo{
    display: none;
  }
  #right-logo-reverse{
    display: block !important;
  }
  #header-logo-left{
    justify-content: left !important;
  }
  #header-date-left{
    display: block !important;
  }
  #header-date-right{
    display: none !important;
  }
}

@media (max-width: 576px) { /*small*/
  #footer-mobile{
    display: block !important;
  }

  #footer-normal{
    display: none;
  }
}
/* Media */

.skeleton-loading {
  width: 100%; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background-color: #f0f0f0; /* Set the background color */
  animation: skeleton-loading-animation 1s infinite ease-in-out; /* Add animation */
}

@keyframes skeleton-loading-animation {
  0% { opacity: 1; }
  50% { opacity: 0.7; }
  100% { opacity: 1; }
}